@import "bootstrap";

html{coverflow-y:scroll;}

body{padding-top:60px;}

section{overflow:auto;}

textarea{resize: vertical;}

.center{text-align:center;}

.center h1{margin-bottom:10px;}

h1,h2,h3,h4,h5,h6{line-height:1;}